.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

input {
  width: 300px;
  background: 
      linear-gradient(#fff, #fff) center bottom 5px /calc(100% - 10px) 2px no-repeat;
  background-color: transparent;
 
  padding: 3rem;
  border-radius: 0;
  color: #fff;
}

.react-multiple-carousel__arrow {
  z-index: 0 !important;
}

textarea{
  color: #fff !important;
}

.color{
  background-color: #C162E5;
}

.logoC{
  color: #C162E5;
}


button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -80px;
  transition: 0.5s;
}
button:hover{
  padding-right: 1px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 70px;
}